@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


:root{
    --sushi-yellow: #ffc107;
    --font:'Roboto', sans-serif;
}

body{
    margin: 0;
    font-family: var(--font, sans-serif);
}

header{
    background-color: #000000;
    height: 10vh;
    width: 100vw;
    color: #fff;
    display: flex;
    gap: .5rem
}

section{
    display: flex;
    
}

.content{
    width: 100vw;
    height: 100vh;  
}

/*set min() ch in width of side and some vw size*/

#side{
    background-color: var(--sushi-yellow);
    color: #fff;
    width: min(22vw, 30ch);
    height: 100vh;
}

#side>ul>li{
    list-style: none;
    margin: 2rem 0 0;
    letter-spacing: 1px;
}

.categories{
    background-color: #fff;
    margin-top: 1.5rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: max-content max-content max-content;
    text-transform: uppercase;
    justify-content: space-evenly;
    
}

.categories > div{
    display: flex;
    height: 15vh;
    width: 22vw;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: min(20px, 2vw);
}

.categories > div:nth-child(1){
    background: url(images/empanaditas.png);
    background-size: 300px 400px;
}

.categories > div:nth-child(2){
    background: url(images/gohan.jpg);
}

.categories > div:nth-child(3){
    background: url(images/combos.jpg)
}

.categories > div:nth-child(4){
    background: url(images/variedades.jpg);
}

.categories > div:nth-child(5){
    background: url(images/barco.jpg);
}

.categories > div:nth-child(6){
    background: url(images/ramen.png);
}

.categories > div:nth-child(7){
    background: url(images/vinos1.jpg);
}

.categories > div:nth-child(8){
    background: url(images/rayo-bny.jpg);
}

.categories > div:nth-child(9){
    background: url(images/extras.png);
}

.content-head{
    display: flex;
    background-color: var(--sushi-yellow);
    height: 10vh;
    color: #fff;
    align-items: center;
    font-size: min(4vw, 40px);
    padding: 1.2rem;
    font-weight: bold;
}

a{
    text-decoration: none; 
    color: #fff;
}