:root{
    --sushi-yellow: #ffc107;
}

body{
    margin: 0;
}

header{
    background-color: #000000;
    height: 10vh;
    width: 100vw;
    color: #fff;
    display: flex;
    gap: .5rem
}

section{
    display: flex;
    
}

.content{
    width: 100vw;
    height: 100vh;
}

/*set min() ch in width of side and some vw size*/

#side{
    background-color: var(--sushi-yellow);
    color: #fff;
    width: 20vw;
    height: 100vh;
}

.categories{
    background-color: #fff;
    margin-top: 1.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: max-content max-content max-content;
    text-transform: uppercase;
    justify-content: center;
}

.categories > div{
    display: flex;
    height: 20vh;
    width: 25vw;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}

.categories > div:nth-child(1){
    background: url(images/empanaditas.png);
    background-size: 300px 400px;
}

.categories > div:nth-child(2){
    background: url(images/gohan.jpg);
}

.categories > div:nth-child(3){
    background: url(images/combos.jpg)
}

.categories > div:nth-child(4){
    background: url(images/variedades.jpg);
}

.categories > div:nth-child(5){
    background: url(images/barco.jpg);
}

.categories > div:nth-child(6){
    background: url(images/ramen.png);
}

.categories > div:nth-child(7){
    background: url(images/vinos1.jpg);
}

.categories > div:nth-child(8){
    background: url(images/rayo-bny.jpg);
}

.categories > div:nth-child(9){
    background: url(images/extras.png);
}

.content-head{
    background-color: var(--sushi-yellow);
    height: 10vh;
    color: #fff;
}

a{
    text-decoration: none; 
    color: #fff;
}